<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taru.luo.graduation.mapper.LoginMapper">
  <resultMap id="BaseResultMap" type="taru.luo.graduation.entity.Login">
    <constructor>
      <arg column="ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USERNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TELPHONE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EMAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LAST_EDITOR_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LAST_EDITOR_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETOR_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DELETOR_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETED" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
</mapper>
