<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taru.luo.graduation.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="taru.luo.graduation.entity.UserInfo">
    <constructor>
      <arg column="ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USERNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PHOTO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TELPHONE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EMAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SEX" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AGE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ADDRESS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DELETED" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

</mapper>